// colors
$blue: #11b0c8;
$darkGray: #a9b1bd;
$hover: #f5f7f9;
$tableHeader: #e5eaf4;
$lightGray: #e5eaf4;
$red: #f15e5e;
$white: #fff;

// value
$widthTableColumn: 15%;

$padding: 60px;

$mediumPadding: 50px;

$smallPadding: 10px;
